body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/666/129/original/retro-game-background.jpg');
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App h1{
  font-size: 5em;
}

.blocks{
  font-size: small;
}

.startButton{
  padding: 1em;
  background-color: greenyellow;
  border: 1px greenyellow solid;
  border-radius: 10px;
  color: black;
}

.stopButton{
  padding: 1em;
  background-color: red;
  border: 1px red solid;
  border-radius: 10px;
  color: white;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
